<div class="post">
  <div class="header">
    <h1>Post Header</h1>
    <button class="btn btn-link" routerLink="/">Go to main page</button>
  </div>
  <div class="info">
    <strong>Roman Zhydyk Author</strong>
    <small>02.02.2002</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem commodi deserunt dolorem eos facilis hic id ipsum itaque laboriosam maxime minima minus nam nemo nobis officiis omnis porro possimus provident, quia quod reprehenderit repudiandae sunt tempore totam vitae! Dignissimos illum nam odit officia pariatur perspiciatis quasi quidem temporibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias autem commodi deserunt dolorem eos facilis hic id ipsum itaque laboriosam maxime minima minus nam nemo nobis officiis omnis porro possimus provident, quia quod reprehenderit repudiandae sunt tempore totam vitae! Dignissimos illum nam odit officia pariatur perspiciatis quasi quidem temporibus.</p>
  </div>
</div>
