<!--<div class="container">-->
<!--  <h1>Hello Angular</h1>-->
<!--  <app-post-form-->
<!--  (onAdd)="updatePost($event)"-->
<!--  ></app-post-form>-->
<!--  <hr />-->
<!--  <app-post2 *ngFor="let list of post" [myPost]="list"-->
<!--  (onRemove)="removePost($event)"></app-post2>-->
<!--</div>-->

<!--<div>-->
<!--  <h1>Create Directive</h1>-->

<!--  <p appStyle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, ducimus?</p>-->
<!--</div>-->

<!--<app-post></app-post>-->
<router-outlet></router-outlet>
